
<div class="row">
  <% show_post ||= false %>

  <div class="span2 well text-center">
    <div id="vote_<%= comment.id %>_error"></div>
    <% up_votes = comment.up_votes %>
    <span id="comment_<%= comment.id %>_votes_up">
      <%= "#{up_votes} #{'vote'.pluralize(up_votes)}" %>
    </span>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: :post, remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <br/>
    <% down_votes = comment.down_votes %>
    <span id="comment_<%= comment.id %>_votes_down">
      <%= "#{down_votes} #{'vote'.pluralize(down_votes)}" %>
    </span>
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: :post, remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>

  <div class="well span8">
    <em><%= comment.body %></em>
    <% if show_post %>
      on <%= link_to comment.post.title, comment.post %>
    <% end %>
    <br/> 
    <span class="quiet">by <%= link_to comment.creator.name, comment.creator %></span>
    <small><%= display_datetime(comment.created_at) %></small>
  </div>
</div>
