<div class="row">

  <div class="span2 well text-center">
    <div id="vote_<%= post.slug %>_error"></div>
    <% up_votes = post.up_votes %>
    <span id="post_<%= post.slug %>_votes_up"> 
      <%= "#{up_votes} #{'vote'.pluralize(up_votes)}" %>
    </span>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: :post, remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <br/>
    <% down_votes = post.down_votes %>
    <span id="post_<%= post.slug %>_votes_down"> 
      <%= "#{down_votes} #{'vote'.pluralize(down_votes)}" %>
    </span>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: false), method: :post, remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>

  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post %></h4>
    <p><%= post.description %></p>
    <p><%= link_to 'Real post', fix_url(post.url) %></p>
    <p>
      <span class="quiet">
        posted by <%= link_to post.creator.name, post.creator %>
      </span>
        <small><%= display_datetime(post.created_at) %></small>
    </p>

    <span>
        <%= link_to("#{post.comments.size} comments", post) %>
    </span>
  </div>
</div>