<%= render 'shared/title', title: 'All post' %>

<% @posts.each do |post| %>
    <div class="row">
        <div class="span8 well">
            <%= render post.categories %>
            <h4><%= link_to post.title, post %></h4>
            <p><%= post.description %></p>
            <p><%= link_to 'Real post', post.url %></p>
            <p>
                <span class="quiet">posted by <%= link_to post.creator.name, '#' %></span>
                <small>at <%= post.created_at%></small>
            </p>

            <span>
                <%= link_to("#{post.comments.size} comments", post) %>
            </span>
        </div>
    </div>
<% end %>
